<aside>
	<div>
		<h5>Players</h5>
		<img src="{@unsafe $STATICPATH}/missing.png" class="missing" />
		<h6>Currently online: 0</h6>
		<table border="0" width="100%">
			<tr><td>robin_be</td><td>835</td></tr>
			<tr><td>OhYeah</td><td>52</td></tr>
		</table>
	</div>
	<div>
		<h5>Server World</h5>
		<table border="0" width="100%">
			<tr><td>Time:</td><td>23:15</td></tr>
			<tr><td>Weather:</td><td>Sunny</td></tr>
		</table>
	</div>
	<div>
		<h5>Active Flights</h5>
	</div>
	<div>
		<h5>Last 10 Finished Flights</h5>
	</div>
	<div>
		<h5>Members</h5>
		<table border="0" width="100%">
			<tr><td>Guest sessions:</td><td>40000</td></tr>
			<tr><td>Registered:</td><td>2</td></tr>
			<tr><td>Latest:</td><td>You</td></tr>
		</table>
	</div>
</aside>
