**/.classpath
**/.project
**/.settings/
**/bin/
**/bin-test/
**/out
/fly-plugin/out/
/fly-plugin/__sampasm.h
/fly-web/**/.ignored.*
/fly-web/**/gen/**
!/fly-web/**/gen/.gitkeep
/fly-web/articles/apfactsheets/*.html
/fly-web/articles/aerodromecharts/*.html
/fly-web/articles/islandmaps/*.html
/fly-web/inc/conf.php
/fly-web/static/fdr/*.flight
/fly-web/static/chatlogs/*
/fly-web/articles/tohtml.sed
