body {
	background: #444;
}
body > div {
	background: #fff;
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}
body > div.singlebody {
	padding-top: .3em;
	padding-bottom: .3em;
}
body > .msg {
	max-width: 1000px;
	background: #faa;
	margin: 0 auto;
	padding: .3em 10px;
}
hr {
	height: 1px;
}
header {
	padding-bottom: .5em;
}
header h1 {
	margin-bottom: .1em;
}
header p {
	text-align: right;
	margin: 0;
}
header small, footer small {
	font-size: small;
	float: right;
}
div#main {
	float: right;
	width: calc(100% - 240px);
}
aside {
	float: left;
	width: 220px;
	padding-bottom: 1em;
}
div#main {
	padding-bottom: 1em;
}
.fr49 {
	float: right;
	width: 49%;
}
.fl49 {
	float: left;
	width: 49%;
}
@media (max-width: 800px) {
	div#main {
		width: 100%;
		max-width: 800px;
	}
	aside {
		width: auto;
	}
	aside div {
		padding-right: 1ex;
		float: left;
		width: 220px;
	}
	.fr49, .fl49 {
		float: none;
		width: 100%;
	}
}
aside table, aside p {
	font-size: .8em;
}
aside p {
	text-align: center;
}
aside table td + td {
	text-align: right;
}
h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #000;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.66em;
}
h4 {
	font-size: 1.33em;
}
h5 {
	font-size: .9em;
}
h6 {
	font-size: .8em;
}
aside h4, aside h5, aside h6 {
	margin-bottom: 0;
}
#skip {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	padding: 0;
	background-color: #ccc;
}
#skip:focus {
	width: auto;
	height: auto;
	padding: .3em;
}
img.missing {
	width: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-pixelated;
	image-rendering: pixelated;
}
table {
	border-spacing: 0;
}
td {
	border-bottom: 1px solid #ccc;
	padding: .1em .5em;
}
th {
	border-bottom: 1px solid #000;
}
tr:nth-child(odd) {
	background: #f8f8f8;
}
tr:hover {
	background: #f3f3f3;
}
.clear {
	clear: both;
}
footer {
	padding: .5em 0;
}
footer p {
	line-height: 1.1em;
	font-size: x-small;
}
.pagination {
	text-align: right;
	font-size: .8em;
}
.flight-state {
	padding: 0;
}
.flight-state-1 {
	background: #ddf;
}
.flight-state-8 {
	background: #dfd;
}
.flight-state-2, .flight-state-4, .flight-state-32 {
	background: #fdd;
}
.flight-state-16 {
	background: #fdb;
}
.flight-state-64 {
	background: #edf;
}
code {
	font-family: 'Courier new', monospace;
	background: #ddd;
	border-radius: 2px;
	padding: 1px 2px;
}