#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
#wrapper > .msg {
	background: #ffe1e1;
	border: 1px solid #f11;
	margin: 0;
	padding: .3em;
	color: #f00;
}
hr {
	height: 1px;
}
header h1 {
	margin-bottom: .1em;
}
header p {
	text-align: right;
	margin: 0;
}
header small, footer small {
	font-size: small;
	float: right;
}
#main {
	float: right;
	width: calc(100% - 240px);
}
aside {
	float: left;
	width: 220px;
	padding-bottom: 1em;
}
@media (max-width: 800px) {
	#main {
		width: auto;
		max-width: 800px;
	}
	aside {
		width: auto;
	}
	aside div {
		padding-right: 1ex;
		float: left;
		width: 220px;
	}
}
aside table, aside p {
	font-size: .8em;
}
aside p {
	text-align: center;
}
aside table td + td {
	text-align: right;
}
h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #000;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: .9em;
}
h6 {
	font-size: .8em;
}
aside h4, aside h5, aside h6 {
	margin-bottom: 0;
}
#skip {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	padding: 0;
	background-color: #ccc;
}
#skip:focus {
	width: auto;
	height: auto;
	padding: .3em;
}
img.missing {
	width: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-pixelated;
	image-rendering: pixelated;
}
table {
	border-spacing: 0;
}
td {
	border-bottom: 1px solid #ccc;
}
tr:nth-child(odd) {
	background: #f8f8f8;
}
tr:hover {
	background: #f3f3f3;
}
.clear {
	clear: both;
}
footer p {
	line-height: 1.1em;
	font-size: x-small;
}
