figure, .infobox {
	background: #f6f6ff;
	border: 1px solid #b5cdff;
	margin: .4em;
	padding: .4em;
	display: inline-block;
}
figure > img {
	max-width: 100%;
}
figure > img:not(.fullsize) {
	width: 100%;
	max-width: 250px;
}
figcaption {
	font-size: small;
}
.article table.artcat {
	width: 100%;
	border: 1px solid #ccc;
	border-spacing: 2px;
	margin-top: 1em;
}
.article table.artcat th,
.article table.artcat td {
	padding: .2em;
}
.article table.artcat td:first-child {
	text-align: right;
	padding-left: .8em;
	padding-right: .2em;
	white-space: nowrap;
	width: auto;
}
.article table.artcat td + td {
	width: 100%;
}
.article table {
	border: 1px solid #aab;
	border-spacing: 2px;
}
tr.fsh {
	background: #69c;
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-size: 110%;
}
@media (min-width: 600px) {
	div.articleright {
		float: right;
		padding-left: 1em;
	}
}
.article h3, .article h4 {
	overflow: hidden;
}
.article pre {
	background: #eee;
	padding: 1em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: .5em;
}
kbd {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: .05em 0.2em;
	margin: 0 .1em;
	box-shadow: 1px 1px 0px #cccc;
	background: #fafafa;
}
details {
	border: 3px solid transparent;
}
details[open] {
	border: 3px solid #ddd;
	padding: 0 .5em;
}
details[open] > summary {
	margin: 0 -.5em;
}
summary {
	cursor: pointer;
}
.article .s {
	text-decoration: line-through;
}
img.gallery {
	width:100%;
	max-width:400px;
}
