html, /*also applying to html, because one can overscroll (at least on Apple Mac devices)*/
header,
footer {
	background:#003df1;
}
header,footer,#subheader,header a:link,footer a:link,#subheader a:link,header a:visited,footer a:visited,#subheader a:visited{
	color:#fff;
}
#subheader{
	background:#333;
}
body {
	padding:0;
	margin:0;
	background:#fff;
	color:#000;
	font-family: 'Tahoma', sans-serif;
}
main, .wrapper {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	padding-left:1em;
	padding-right:1em;
}
main {
	padding-top:0;
}
header h1 {
	margin:0;
	float:left;
	}
	header h1 a {
		display:block;
		height:3rem;
		padding:1rem 0;
	}
	header h1 img {
		height:3rem;
	}
header hr {
	border:0;
	border-top:1px dotted #fff;
	margin:0;
}
header p {
	margin:0;
	padding:1em 0;
	font-size:small;
	text-align:right;
}
nav a {
	float:right;
	height:5rem;
	line-height:5rem;
	font-size:1.1em;
	text-decoration:none;
	padding:0 .75em;
}
nav a:hover, header h1 a:hover {
	background:#0004;
}
#ip {
	float:left;
}
.topmsg {
	background:#fdd;
	border:1px solid #fbb;
	border-radius:.5em;
	text-align:center;
	padding:.3em;
}
footer ul {
	list-style:none;
	}
	footer ul li {
		display:inline;
		margin:0 1em;
	}
.fr49 {
	float: right;
	width: 49%;
}
.fl49 {
	float: left;
	width: 49%;
}
@media (max-width: 800px) {
	.fr49, .fl49 {
		float: none;
		width: 100%;
	}
}
h2, h3 {
	border-bottom: 1px solid #000;
}
h4, h5, h6 {
	margin: .5em 0
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.1em;
}
h2+div,h3+div,h4+div,h5+div{
	margin-bottom:0;
}
#skip {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	padding: 0;
	background-color: #ccc;
}
#skip:focus {
	width: auto;
	height: auto;
	padding: .3em;
}
.tablescroller {
	overflow-x: auto;
	margin: 1em 0;
	max-width: 100%;
	display: inline-block;
	border: 1px solid #aab;
}
.tablescroller table.new {
	border: 0;
	margin: 0;
}
table.new {
	border: 1px solid #aab;
	border-collapse: collapse;
	margin:1em 0;
}
table.new th {
	background: #dc6;
}
table.new td, table.new th {
	padding: .2em .5em;
}
table.new td + td {
	border-left: 1px solid #aab;
}
table.new thead tr {
	border-bottom: 1px solid #aab;
}
table.rowseps tr td {
	border-top: 1px solid #aab;
}
table.new th + th {
	border-left: 1px solid #aab;
}
th.takenospace {
	width: 1px;
}
.clear {
	clear: both;
}
.pagination {
	text-align: right;
	font-size: .8em;
}
.flight-state {
	padding: .1em .4em;
	border-radius: 3px;
	font-family: monospace;
	text-transform: uppercase;
	white-space: nowrap;
	}
	/*when editing, remember to edit hue shifts in _flights.tpl, colors in postdiscordflightlog.php, colors in og meta*/
	.flight-state.f1 {
		background: #ddf;
	}
	.flight-state.f8 {
		background: #dfd;
	}
	.flight-state.f2, .flight-state.f4, .flight-state.f32, .flight-state.f256, .flight-state.f512, .flight-state.f1024, .flight-state.f4096 {
		background: #fdd;
	}
	.flight-state.f16, .flight-state.f128 {
		background: #fdb;
	}
	.flight-state.f64 {
		background: #edf;
	}
	.flight-state.f2048 {
		background: #ffd;
	}
code {
	font-family: 'Courier new', monospace;
	background: #ddd;
	border-radius: 2px;
	padding: 1px 2px;
}
span.u {
	text-decoration: underline;
}
p.msg {
	text-align: left;
	padding: .3em;
}
p.msg.error {
	border: 1px solid #600;
	background: #fbb;
}
p.msg.info {
	border: 1px solid #00529b;
	background: #cdf;
}
p.msg.warning {
	border: 1px solid #9d6000;
	background: #FCD0B3;
}
p.msg.success {
	border: 1px solid #060;
	background: #bfb;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
@media (max-width: 800px) {
	.no800 {
		display: none;
	}
}
.airportlist{
	padding:0.5em;
	text-align:center
}
.airportlist div{
	display:inline-block;
	padding:.5em;
	margin:.5em;
	font-size:0.8em;
	text-align:center;
	border:1px solid #161A21;
	background:#FAEBD7
}
.airportlist img{
	width:100px;
	border:1px solid #000
}
.navinfo{
	text-align: center;
}
.article .navinfo {
	text-align: unset
}
.navinfo table{
	font-size:.8em;
	margin:.5em;
	display:inline-block
}
.article .navinfo table{
	display:block;
	margin:1em
}
.navinfo table.box{
	border:1px solid #161A21;
	border-collapse:collapse
}
.navinfo table.box img{
	border:1px solid #000;
	vertical-align:middle
}
.navinfo table.box tr{
	background:#FAEBD7
}
.navinfo table.box td{
	padding:.3em
}
.article .navinfo table.box td+td{
	width:100%
}
ul.compact {
	margin: 0;
	padding-left: 1em;
}

.flightlist {
	border-spacing: 0 5px;
	margin: 1em 0;
	width: 100%;
	}
	.flightlist tr {
	}
	.flightlist td {
		background: #eee;
		padding: 0;
	}
	.flightlist td:first-child {
		border-radius: .5em 0 0 .5em;
		padding-left: 1.3em;
	}
	.flightlist td:last-child {
		border-radius: 0 .5em .5em 0;
		padding-right: 1.3em;
	}
	.flightlist .route {
		font-family: monospace;
		}
		.flightlist .route span {
			font-size: 120%;
			margin: 0 .3em;
		}
