<!DOCTYPE html>
<?php 
$id = -1;
if (isset($_GET['id'])) {
	$id = (int) $_GET['id'];
	$id++;
	$id--;
}
$returnpage = -1;
if (isset($_GET['rp'])) {
	$returnpage = (int) $_GET['rp'];
	$returnpage++;
	$returnpage--;
}
?>
<html>
<head>
	<title>basdon.net aviation server :: flight #{@unsafe $id} details</title>
	{@render defaulthead.html}
	<style type="text/css">
		#flights td{text-align:center}
		#flights td:nth-child(5){text-align:right}
	</style>
</head>
<body>
	{@render skip.html}
	<div id="wrapper">
		{@render defaultheader.html}
		<p><a href="flights.php{@if $returnpage != -1}?page={@unsafe $returnpage}{@endif}">Flights</a> &gt; Flight #{@unsafe $id}</p>
		<h2>Flight #{@unsafe $id} details</h2>
<?php 
try{
	$r = $db->query('SELECT _f.*,_u.n playername,_a.n fromname,_a.c fromcode,_b.n toname,_b.c tocode,_v.m vehmodel 
	                 FROM flg _f 
	                 JOIN usr _u ON _f.player=_u.i 
	                 JOIN apt _a ON _f.fapt=_a.i 
	                 JOIN apt _b ON _f.tapt=_b.i 
	                 JOIN veh _v ON _f.vehicle=_v.i 
	                 WHERE id=' . $id);
	if ($r === false || ($r = $r->fetchAll()) === false || empty($r)) {
		echo '<p>Flight not found (or something went wrong)!</p>';
	} else {
		$r = $r[0];
?>
		{@render flightstatuses.php}
		{@render aircraftnames.php}
		<ul>
			<li><strong>Status:</strong> {@unsafe fmt_flight_status($r->state, $r->tload)}</li>
			<li><strong>Pilot:</strong> <a href="user.php?name={@urlencode $r->playername}">{@unsafe $r->playername}</a></li>
			<li><strong>Departure Airport:</strong> <a href="airport.php?code={@unsafe $r->fromcode}">{@unsafe $r->fromname} ({@unsafe $r->fromcode})</a></li>
			<li><strong>Arrival Airport:</strong> <a href="airport.php?code={@unsafe $r->tocode}">{@unsafe $r->toname} ({@unsafe $r->tocode})</a></li>
			<li><strong>Point-to-point distance:</strong> {@unsafe $r->distance}m</li>
			<li><strong>Actual flown distance:</strong> {@unsafe $r->adistance}m</li>
			<li><strong>Flight duration:</strong> {@unsafe $r->tlastupdate - $r->tstart}s</li>
			<li><strong>Aircraft:</strong> {@unsafe aircraft_name($r->vehmodel)}</li>
		</ul>
<?php 
	}
} catch (PDOException $e) {
?>
		<p style="color:red;">Failed to load flight info!</p>
<?php } ?>
		{@render defaultfooter.html}
	</div>
</body>
</html>
